<style>
    .control-label { font-size: 14px; font-weight: 600; padding-top:4px !important; }
    select.form-control { font-size: 14px; height: 30px; padding: 2px 9px 5px 4px;}
    .form-group { padding-bottom:6px !important; }
    div.DTE_Inline_Field { display:inline-block;}
    div.botao1 { display:inline-block;  }
    div > div.botao1 > div > button { margin-left: 5px; padding:0px 4px; background-color: transparent; border:0;}
    .dataTables_wrapper table { margin-top: 0; }
    td.direita { text-align:right !important; padding: 2px 15px 2px 5px !important;}
    td.esquerda { text-align:left !important; padding: 2px 5px 2px 5px !important;}
    td.centro { text-align:center !important; padding: 2px 5px 2px 5px !important;}
    .botao { height:16px; padding-top:3px;}
    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<link rel='stylesheet' type='text/css' href='css/PNotifyBrightTheme.css' />

<div id="page-content">
  <div id='wrap'>
    <div id="page-heading">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Catálogo</li>
      </ol>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-11">
          <div class="panel panel-primary">
            <div class="panel-heading rounded-bottom">
              <h4><i class="fas fa-tags" style="margin-right:8px;"></i>Gerador de TAGs</h4>
              <div class="options">
                <a href="javascript:;" class="panel-collapse" data-toggle="collapse" data-target="#geradortags">
                  <i class="fa fa-chevron-up pulsate"></i>
                </a>
              </div>
            </div>
            <div class="panel-body collapse in" id="geradortags" style="display: block;">

              <div class="row">
                <div class="col-sm-12">

                  <form class="form-horizontal" id="validate-form">
                    <div class="form-group">
                      <label class="col-sm-1 control-label">Insira o texto</label>
                      <div class="col-sm-3">
                        <input type="text" id="textotag" data-parsley-tag="" data-parsley-length="[3,60]"
                               data-parsley-required-message="Campo obrigatório!"
                               data-parsley-length-message="ATENÇÃO!! Mínimo de 3 e máximo de 60 caracteres!"
                               data-parsley-trigger="change"
                               placeholder="mínimo de 3 e máximo de 60 caracteres" required="required" class="form-control ">
                      </div>
                      <div class="col-sm-3">
                        <button class="btn btn-success btn-label"><i class="fas fa-tags"></i> Clique aqui para gerar a TAG</button>
                      </div>
                      <div class="col-sm-5">
                        <label id="labelvalor" class="col-sm-2 control-label" style="display:none;">Valor da tag: </label>
                        <div class="col-sm-3"><input type="text" disabled style="display: none; height: 34px; width:380px;" rows="1" id="resposta"></div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11">
          <div class="panel panel-primary">
            <div class="panel-heading rounded-bottom">
              <h4><i class="fa fa-table" style="margin-right:8px;"></i>Items</h4>
              <div class="options">
                <a href="javascript:;" class="panel-collapse" data-toggle="collapse" data-target="#painelitems">
                  <i class="fa fa-chevron-up pulsate"></i>
                </a>
              </div>
            </div>
            <div class="panel-body collapse in" id="painelitems" style="display: block;">

              <div class="row">
                <div class="col-sm-11">
                  <table id="tabelaitems" class="table table-bordered table-hover table-striped table-condensed" style="font-size:14px; width:100%;">
                    <thead>
                    <tr>
                      <th>Classe</th>
                      <th>Item</th>
                      <th>Valor TAG</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11">
          <div class="panel panel-indigo">
            <div class="panel-heading rounded-bottom">
              <h4><i class="fa fa-table" style="margin-right:8px;"></i>Classes</h4>
              <div class="options">
                <a href="javascript:;" class="panel-collapse" data-toggle="collapse" data-target="#painelclasses">
                  <i class="fa fa-chevron-up pulsate"></i>
                </a>
              </div>
            </div>
            <div class="panel-body collapse in" id="painelclasses" style="display: block;">

              <div class="row">
                <div class="col-sm-11">
                  <table id="tabelaclasses" class="table table-bordered table-hover table-striped table-condensed" style="font-size:14px; width:100%;">
                    <thead>
                    <tr>
                      <th>Classe</th>
                      <th>Nome TAG</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script type="text/javascript" src="Editor-2.0.10/js/dataTables.editor.js"></script>
<script type='text/javascript' src='assets/plugins/jquery-toggles/toggles.min.js'></script>
<script type='text/javascript' src='assets/plugins/bootbox/bootbox.min.js'></script>
<script type='text/javascript' src='assets/plugins/bootbox/bootbox.locales.min.js'></script>
<script type='text/javascript' src='assets/plugins/bootbox/pt-br.js'></script>
<script type='text/javascript' src='highcharts-7.1.3/highcharts.js'></script>
<script type='text/javascript' src='highcharts-7.1.3/highcharts-more.js'></script>
<script type='text/javascript' src='highcharts-7.1.3/sankey.js'></script>
<script type='text/javascript' src='highcharts-7.1.3/organization.js'></script>
<script type='text/javascript' src='highcharts-7.1.3/exporting.js'></script>
<script type='text/javascript' src='assets/plugins/form-jasnyupload/fileinput.min.js'></script>
<script src='lib/moment-with-locales.min.js'></script>
<script src='lib/datetime-moment.js'></script>
<script type='text/javascript' src='assets/plugins/form-datepicker/js/locales/bootstrap-datepicker.pt-BR.js' charset="UTF-8"></script>
<script type='text/javascript' src='js/PNotify.js'></script>
<script type='text/javascript' src='js/PNotifyButtons.js'></script>
<script type='text/javascript' src='js/PNotifyCallbacks.js'></script>
<script type='text/javascript' src='js/PNotifyConfirm.js'></script>
<script type='text/javascript' src='js/PNotifyHistory.js'></script>
<script type='text/javascript' src='js/PNotifyReference.js'></script>
<script type='text/javascript' src='assets/plugins/form-parsley/parsley.min.js'></script>

<script>
    const formInstance = $("#validate-form").parsley();

    $('#validate-form').on('submit',function(e) {
        e.preventDefault();
        if ( formInstance.isValid() ) {
            let formData = {
                textotag: $("#textotag").val()
            };
            $.ajax({
                type: "POST",
                url: "/gerartag",
                data: formData,
                dataType: "html",
                encode: true,
                success: function( data,status,xhr ){
                    $('#resposta').val( data );
                    $('#labelvalor').css("display", "block");
                    $('#resposta').css("display", "block");
                    navigator.clipboard.writeText(data);
                }
            });
        }
    });

    $(document).ready(function() {
        let editoritems = new $.fn.dataTable.Editor({
            ajax: {url: "/itematualizar",
                success: function () {
                    tableitems.ajax.reload();
                },
                create: {url: "/itemcriar",
                    success: function () {
                        tableitems.ajax.reload();
                    }
                }
            },
            table: "#tabelaitems",
            idSrc: 'id',
            fields: [
                {name: "campo.nome", label: 'Classe', type: "select", options: <%= @campos %>},
                {name: "nome", label: 'Nome'}
            ],
            i18n: {
                create: {
                    title: "Criar registro",
                    submit: "Criar"
                }
            }
        });

        $('#tabelaitems').on( 'click', 'tbody td:not(:first-child):not(:last-child)', function (e) {
            editoritems.inline( this );
        } );

        let tableitems = $('#tabelaitems').DataTable({
            ajax: {url: "/itemspopular", dataSrc: ""},
            info: true,
            paginate: false,
            ordering: true,
            order: [],
            search: {regex: true},
            autoWidth: true,
            scrollY: 220,
            scrollX: false,
            scrollCollapse: true,
            columns: [
                {data: "campo.nome", width: "15%", className: 'esquerda'},
                {data: "nome", width: "43%", className: 'esquerda'},
                {data: "valor_tag", width: "42%", className: 'esquerda'},
                {data: "id", visible: false}
            ],
            dom: "Bfti",
            buttons: [
              {
                  extend: "create",
                  editor: editoritems,
                  text: "Criar registro"
              }
            ],
            drawCallback: function () {
                this.api()
                  .columns(0)
                  .every(function () {
                      let column = this;
                      let select = $('<select><option value="">Todas</option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            console.log($.fn.dataTable.util.escapeRegex($(this).val()))
                            let val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                      column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                  });
            },
            language: {
                search: "",
                info: "_TOTAL_ registros",
                infoEmpty: "0 registros",
                infoFiltered: "(de um total de _MAX_)",
                searchPlaceholder: "Pesquisar",
                zeroRecords: "Nenhum registro encontrado",
                sInfoThousands: ".",
            }
        });
        editoritems.on( 'preSubmit', function ( e, o, action ) {
            if (action === "create") {
                let existe = $.inArray(o.data[0]["nome"],tableitems.column(1).data().toArray())
                if (existe == -1) {
                    return true;
                } else {
                    alert('Um item já existe com nome: ' + o.data[0]["nome"] + '. Use um nome diferente!')
                    return false;
                }
            }
            if (action === "edit") {
                let id = Object.keys(o.data)[0]
                let existe = $.inArray(o.data[id]["nome"],tableitems.column(1).data().toArray())
                if (existe == -1) {
                    return true;
                } else {
                    alert('Um item já existe com nome: ' + o.data[id]["nome"] + '. Use um nome diferente!')
                    return false;
                }
            }
        } );


        let editorclasses = new $.fn.dataTable.Editor({
            ajax: {url: "/classeatualizar",
                success: function () {
                    tableclasses.ajax.reload();
                    tableitems.ajax.reload();
                },
                create: {url: "/classecriar",
                    success: function () {
                        tableclasses.ajax.reload();
                        tableitems.ajax.reload();
                    }
                }
            },
            table: "#tabelaclasses",
            idSrc: 'id',
            fields: [
                {name: "nome", label: 'Nome'}
            ],
            i18n: {
                create: {
                    title: "Criar registro",
                    submit: "Criar"
                }
            }
        });

        $('#tabelaclasses').on( 'click', 'tbody td:not(:last-child)', function (e) {
            editorclasses.inline( this );
        } );

        let tableclasses = $('#tabelaclasses').DataTable({
            ajax: {url: "/classespopular", dataSrc: ""},
            info: true,
            paginate: false,
            ordering: true,
            order: [],
            search: {regex: true},
            autoWidth: true,
            scrollY: 220,
            scrollX: false,
            scrollCollapse: true,
            columns: [
                {data: "nome", width: "50%", className: 'esquerda'},
                {data: "atributo_tag", width: "50%", className: 'esquerda'},
                {data: "id", visible: false}
            ],
            dom: "Bfti",
            buttons: [
                {
                    extend: "create",
                    editor: editorclasses,
                    text: "Criar registro"
                }
            ],
            language: {
                search: "",
                info: "_TOTAL_ registros",
                infoEmpty: "0 registros",
                infoFiltered: "(de um total de _MAX_)",
                searchPlaceholder: "Pesquisar",
                zeroRecords: "Nenhum registro encontrado",
                sInfoThousands: ".",
            }
        });
        editorclasses.on( 'preSubmit', function ( e, o, action ) {
            if (action === "create") {
                let existe = $.inArray(o.data[0]["nome"],tableclasses.column(0).data().toArray())
                if (existe == -1) {
                    return true;
                } else {
                    alert('Uma classe já existe com nome: ' + o.data[0]["nome"] + '. Use um nome diferente!')
                    return false;
                }
            }
            if (action === "edit") {
                let id = Object.keys(o.data)[0]
                let existe = $.inArray(o.data[id]["nome"],tableclasses.column(0).data().toArray())
                if (existe == -1) {
                    return true;
                } else {
                    alert('Uma classe já existe com nome: ' + o.data[id]["nome"] + '. Use um nome diferente!')
                    return false;
                }
            }
        } );

    });
</script>
