<div id="page-content">
  <div id='wrap'>
    <div id="page-heading">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li>Monitores</li>
        <li class="active"><a href="/">Listar</a></li>
      </ol>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-gray">
<!--            <div class="panel-heading">-->
<!--              <h4>CCBP GMon</h4>-->
<!--            </div>-->
            <div class="panel-body">
              <div class="tab-content">

                <div class="tab-pane active" id="tab1">
                  <blockquote>
                    <p class="strong">

                    </p>
                  </blockquote>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>