#menu.menu_content {
  position: absolute;
  border: 10px solid;
  border-color: #ffffff;
  top: 60px;
  padding: 0px;
  width: 99%; }
  #menu.menu_content .content_wrapper {
    background-color: #45bf52; }
  #menu.menu_content .content {
    float: left;
    padding: 10px;
    background-color: #f5f4f2;
    min-height: 500px;
    margin: 10px 10px 10px 0px;
    width: 90%; }
  #menu.menu_content #top_navigation {
    float: left;
    width: 100%;
    background-color: #ffffff; }
    #menu.menu_content #top_navigation ul {
      height: 25px;
      margin: 0 30px 0 0;
      padding: 0; }
      #menu.menu_content #top_navigation ul li {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0; }
        #menu.menu_content #top_navigation ul li a {
          float: left;
          font-size: 10pt;
          font-weight: normal;
          margin: 0;
          padding: 4px 8px 6px;
          background-color: #008412;
          border-color: #ffffff;
          border-style: solid;
          border-width: 1px;
          color: #ffffff;
          text-decoration: none; }
          #menu.menu_content #top_navigation ul li a:hover {
            background-color: #869a86; }
        #menu.menu_content #top_navigation ul li a.selected {
          background-color: #45bf52;
          border: 1px solid;
          border-color: #45bf52;
          color: #f4efb7;
          font-weight: bold; }
  #menu.menu_content #sub_navigation {
    float: left;
    background-color: #45bf52;
    min-height: 100px;
    width: 105px;
    padding-left: 10px; }
    #menu.menu_content #sub_navigation ul {
      margin: 40px 0px 0px 0px;
    }
    #menu.menu_content #sub_navigation li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #menu.menu_content #sub_navigation li a {
        float: right;
        font-size: 10pt;
        font-weight: normal;
        margin: 0;
        padding: 2px 8px 4px;
        margin: 2px 0px 2px;
        background-color: #c0deac;
        border-color: #ffffff;
        border-style: solid;
        border-width: 0px;
        color: #008412;
        text-decoration: none;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        width: 95px;
        text-align: right; }
        #menu.menu_content #sub_navigation li a:hover {
          background-color: #cce0cc; }
      #menu.menu_content #sub_navigation li a.selected {
        background-color: #f5f4f2;
        color: #008412;
        font-weight: bold; }
